$fontLight: "Nunito-Light", sans-serif; // 300
$fontRegular: "Nunito-Regular", sans-serif; // 400
$fontMedium: "Nunito-Medium", sans-serif; // 500
$fontSemiBold: "Nunito-SemiBold", sans-serif; // 600
$fontBold: "Nunito-Bold", sans-serif; // 700
$fontExtraBold: "Nunito-ExtraBold", sans-serif; // 800